.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__main {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
  }
}